{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ save }}" method="post" enctype="multipart/form-data" id="form-save">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-column"><span>{{ entry_select_option }}</span></label>
            <div class="col-sm-4">
              <select name="warehouse" class="form-control">
                {% for warehouse in options %}
                  {% if option_for_warehouse and option_for_warehouse == warehouse.option_id %}
                    <option value="{{ warehouse.option_id }}" selected="selected">{{ warehouse.name }}</option>
                  {% else %}
                    <option value="{{ warehouse.option_id }}">{{ warehouse.name }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
            <div class="col-sm-4">
              <button type="submit" form="form-save" class="btn btn-primary" ><i class="fa fa-check"></i></button>
              <!--a href="{{ save }}" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-check"></i></a-->
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-warehouse">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td class="text-left">{{ column_group }}</td>
                  <td class="text-right">{{ column_action }}</td>
                </tr>
              </thead>
              <tbody>
                {% if warehouses %}
                {% for warehouse in warehouses %}
                <tr>
                  <td class="text-left">{{ warehouse.name }}</td>
                  <td class="text-right"><a href="{{ warehouse.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a></td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                  <td class="text-center" colspan="4">{{ text_no_results }}</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </form>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ footer }}