{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-warehouse" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid"> {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-warehouse" class="form-horizontal">
          <fieldset id="option-value">
            <legend>{{ heading_title }} - {{ name }}</legend>
            <table id="warehouse" class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <td class="text-left required">{{ entry_name }}</td>
                  <td class="text-right">{{ entry_sort_order }}</td>
                  <td></td>
                </tr>
              </thead>
              <tbody>
              
              {% set warehouse_row = 0 %}
              {% for warehouse in warehouses %}
              <tr id="warehouse-row{{ warehouse_row }}">
                <td class="text-left" style="width: 70%;">
                  <input type="hidden" name="warehouse[{{ warehouse_row }}][warehouse_id]" value="{{ warehouse.warehouse_id }}" />
                  <select id="warehouse_region{{ warehouse_row }}" name="warehouse[{{ warehouse_row }}][region]" class="form-control">
                    {% for country in countries %}
                      {% if warehouse.region and warehouse.region == country.country_id %}
                        <option value="{{ country.country_id }}" selected="selected">{{ country.name }}</option>
                      {% else %}
                        <option value="{{ country.country_id }}">{{ country.name }}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                  </td>
                <td class="text-right"><input type="text" name="warehouse[{{ warehouse_row }}][cost]" value="{{ warehouse.cost }}" id="input-sort-order" class="form-control" /></td>
                <td class="text-right"><button type="button" onclick="$('#warehouse-row{{ warehouse_row }}').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>
              </tr>
              {% set warehouse_row = warehouse_row + 1 %}
              {% endfor %}
                </tbody>
              
              <tfoot>
                <tr>
                  <td colspan="2"></td>
                  <td class="text-right"><button type="button" onclick="addWarehouseRow();" data-toggle="tooltip" title="{{ button_warehouse_add }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button></td>
                </tr>
              </tfoot>
            </table>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
  <script type="text/javascript"><!--
var warehouse_row = {{ warehouse_row }};

function addWarehouseRow() {
    var countries = {{json_countries}};
	html  = '<tr id="warehouse-row' + warehouse_row + '">';
    html += '  <td class="text-left" style="width: 70%;"><input type="hidden" name="warehouse[' + warehouse_row + '][warehouse_id]" value="" />';
    html += '  <select id="warehouse_region' + warehouse_row + '" name="warehouse[' + warehouse_row + '][region]" class="form-control" >';
    for (i = 0; i < countries.length; i++) {
        html += '  <option value="' + countries[i]['country_id'] + '">' + countries[i]['name'] + '</option>';
    }
    html += '  </select>';
	html += '  <td class="text-right"><input type="text" name="warehouse[' + warehouse_row + '][cost]" value="" id="input-sort-order" class="form-control" /></td>';
	html += '  <td class="text-right"><button type="button" onclick="$(\'#warehouse-row' + warehouse_row + '\').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
	html += '</tr>';

	$('#warehouse tbody').append(html);

	warehouse_row++;
}
//--></script></div>
{{ footer }} 